/**
 *
 *  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
 * ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
 * ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
 * ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
 * ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
 *  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
 *
 *
 * This sheet contains:
 * * Global color variables
 *
 * This sheet is a part of the Global folder which is not really a part of SMACSS:
 * Global stores variables that can be used all over the document and create a consistency in the style.
*/

$blue:#2A2F3E;
$blue1: #3EB5FE;

$red: #C41736;

$white: #FFFFFF;

$black:#0D0D0D;
$black1:#262626;

$grey: #8C8C8C;
$grey1: #D9D9D9;
$grey2: #F2F2F2;
